body{
    background-color: rgb(128, 116, 161);
}
h1, div, h2, ul{
    background-color: rgb(11, 74, 10);
}
p, li{
    background-color: rgb(207, 159, 181);
}
a, ol{
    background-color: rgb(87, 209, 231);
}
div > h2 /*hijos del div que son h2 */{
    background-color: rgb(217, 188, 58);
}
div + h2 /*h2 hermano de un div PERO inmediatamente a continuación*/ {
    background-color: rgb(217, 58, 58);
}
p ~ h2 /* todos los hermanos de p que son h2 */{
    background-color: rgb(249, 246, 251);
}
/**/